<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap -->
    <link href="{{ asset('assets/gentella/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets/gentella/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('assets/gentella/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{{ asset('assets/gentella/vendors/animate.css/animate.min.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('assets/gentella/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
  
    <!-- bootstrap-progressbar -->
    <link href="{{ asset('assets/gentella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{{ asset('assets/gentella/vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{{ asset('assets/gentella/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
    
    <!-- bootstrap-dataTables -->
    <link href="{{ asset('assets/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/gentella/build/css/custom.min.css') }}" rel="stylesheet">

    <!-- Css Principal -->
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

    </head>
    <body class="login">
        
            <div class="container body">
                {% block body %}{% endblock %}
            </div>
    </body>
</html>
